{{ define "main" }}

    <div class="pl-sm-2">
        <div class="mb-3">
            <h3 class="mb-0">{{ .Title }}</h3>
            {{ if .Params.Subtitle }}
            <h5>{{ .Params.Subtitle }}</h5>
            {{ end }}
            <small class="text-muted">Published {{ .Date.Format "January 2, 2006"  }}</small>
            {{ if (gt .WordCount 400 )}}
            
              <div class="sticky-element">
                <nav>
                  {{ .TableOfContents }}
                </nav>
              </div>
              <nav>
                {{ .TableOfContents }}
              </nav>
            {{ end }}
        </div>
        

        <article>
            {{ .Content }}
        </article>

    </div>

    {{ template "_internal/disqus.html" . }}
{{ end }}
